{{ define "main" }}
{{ partial "header" . }}
<section class="container-xl mx-auto xl:px-0 sm:px-500 px-300" lang="en">
    <h1 class="mb-400">Error 404 - Page not found</h1>
    <p class="mb-400">We're sorry you ended up here. Sometimes a page gets moved or deleted, but hopefully we can help
        you find what you're looking for. What next?</p>
    <p class="mb-400">Use the links in the navigation bar to find what you are looking for.</p>
    <p class="mb-400">If you are having trouble finding what you need, <a href="/contact">please contact us</a>.
    </p>
</section>
<section class="container-xl mx-auto xl:px-0 sm:px-500 px-300" lang="fr">
    <h1 class="mb-400">Erreur 404 - Page non trouvée</h1>
    <p class="mb-400">Nous sommes désolés que vous vous retrouviez ici. Parfois, une page est déplacée ou supprimée,
        mais nous espérons pouvoir vous aider à trouver ce que vous cherchez. Que faire ensuite?</p>
    <p class="mb-400">Utilisez les liens de la barre de navigation pour trouver ce que vous cherchez.</p>
    <p class="mb-400">Si vous avez des difficultés à trouver ce dont vous avez besoin, <a href="/fr/contact">veuillez
            nous contacter</a>.
</section>
{{end}}